@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --clr-primary: #191919;
    --clr-secondary: #E02D2D;
    --clr-tertiary: #EEF2F5;

    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--clr-primary);
}

main
{
    width: 100%;
    height: 100%;
}

header
{

    display: flex;
    justify-content: space-between;
    align-items: center;


    background-color: var(--clr-primary);
    color: var(--clr-tertiary);

    padding: 1rem 1.5rem;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header nav
{
    display: none;
    align-items: center;
    gap: 1.5rem;
}

header nav a
{
    color: var(--clr-tertiary);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none; 
}

header h1
{
    font-size: 22px;
    font-weight: 500;
}

#home
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 700px;


}

#home a
{
    padding: .5rem .6rem;

    margin-inline: 1.5rem;
}

.home-cta
{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: 400px;

    justify-content: center;

    position: relative;
}

.home-heading
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1.5rem;
    margin-top: 6.8rem;
}

.ellipse
{
    position: absolute;
    left: -7rem;
    background-color: var(--clr-secondary);
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
}

#blury-ellipse
{
    filter: blur(10px);
    width: 28rem;
    height: 28rem;
}

.home-background img
{
    position: absolute;
}

.home-background
{
    position: relative;
    opacity: 15%;

    z-index: -1;
}

.home-heading > h1
{
    margin: 0;
    font-size: 24px;
    line-height: 250%;
    font-weight: 500;
}

.home-heading > p
{
    margin: 0;
    line-height: 150%;
}

#sobre
{
    color: var(--clr-tertiary);
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;

    padding: 1.5rem 2rem;
}

#sobre h2
{
    margin: 0;

    font-weight: 500;
    font-size: 22px;
    line-height: 250%;

    text-transform: uppercase;
}

#sobre img
{
    border-radius: 4px;
}

.sobre-links
{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    width: 100%;
}

.btn
{
    display: flex;
    align-items: center;
    color: var(--clr-tertiary);
    background-color: var(--clr-secondary);

    gap: 4.5px;

    padding: 4px;
    border-radius: 6px;

    text-decoration: none;
    line-height: 1.5rem;



  
    width: fit-content;

    transition: transform 150ms;
    order: 10;


}


#sobre .btn
{
    margin-bottom: 50px;
}

.btn:hover
{
    transform: scale(1.02);
}